body {
  font-family: sans-serif;
}

html,
body,
#app,
canvas {
  width: 100%;
  height: 100%;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#description {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #000020;
  color: #03e5e6;
}
