html,
body,
main,
.App {
  box-sizing: border-box;
  font-family: $app-font-body;
  background-color: $app-bg;
  color: $app-color;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.relative {
  position: relative;
}

@media all and (min-width: 15em) {
}

@media all and (min-width: 35em) {
}

@media all and (min-width: 40em) {
}

@media all and (min-width: 45em) {
}

@media all and (min-width: 60em) {
}

@media all and (min-width: 70em) {
}

@media all and (min-width: 80em) {
}
