h2 {
  font-size: 1.5em;
  margin-bottom: $padding-xxl;
  font-family: $app-font-header;
}

h3 {
  font-size: 1.2em;
  margin-bottom: $padding-xl;
  font-family: $app-font-header;
}

h4 {
  font-size: 1.1em;
  margin-bottom: $padding-l;
  font-family: $app-font-header;
}

h5 {
  font-size: 1em;
  margin-bottom: $padding-m;
  font-family: $app-font-header;
}

b {
  font-weight: 900;
}

form {
  font-family: $app-font-body;

  input,
  select {
    font-family: $app-font-body;
    font-size: 1em;
  }
}

.center {
  text-align: center;
}

a {
  color: $app-color;
}

.Code {
  color: rgb(221, 221, 221);
  font-size: 0.8em;
  font-family: $app-font-code;
  -webkit-font-smoothing: subpixel-antialiased;
  background: lighten($app-bg, 10);
  padding: 0.3em 0.4em;
  border-radius: 0.4em;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.04);
}

@media all and (min-width: 15em) {
}

@media all and (min-width: 35em) {
}

@media all and (min-width: 40em) {
}

@media all and (min-width: 45em) {
}

@media all and (min-width: 60em) {
}

@media all and (min-width: 70em) {
}

@media all and (min-width: 80em) {
}
