{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "describe": "readonly",
    "it": "readonly",
    "expect": "readonly",
    "vi": "readonly",
    "beforeAll": "readonly",
    "afterAll": "readonly",
    "beforeEach": "readonly",
    "afterEach": "readonly"
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": 0,
    "quotes": ["error", "single", { "avoidEscape": true }],
    "semi": ["error", "always"],
    "no-console": 0,
    "import/namespace": 0,
    "import/named": 0,
    "newline-before-return": 1,
    "newline-after-var": 1
  }
}
