# Files

DS_Store
.DS_Store
.git
.svn
.babelrc
.editorconfig
.esdoc.json
.oxlintrc.json
.gitignore
.prettierrc
.travis.yml
tsconfig.json
tsconfig.types.json
vite.config.js
vite.sandbox.config.js
vitest.config.js
*.tgz
npm-debug.log

# Directories

.husky/
docs/
git/
node_modules/
.nyc_output/
.github/
coverage/
scripts/
src/
test/
vr/
website/
sandbox/
