.Page.Examples {
  .Content {
    display: flex;
    max-width: 100vw;
    height: calc(100vh - #{$header-h});
    padding: 0;
    clear: both;

    .Sidebar {
      header {
        padding: $padding-l;
      }

      header {
        text-align: left;
        padding-bottom: $padding-l;
        font-weight: bold;
        border-bottom: $sidebar-border;
      }

      ul {
        padding-top: $padding-l;

        li {
          a {
            text-decoration: none;
            display: inline-block;
            padding: $padding-s $padding-l;
            width: 100%;

            &:hover {
              text-decoration: underline;
            }

            &.active {
              background: $sidebar-border-color;
              background: $app-accent;
              font-weight: bold;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  .canvas-container,
  .canvas {
    width: calc(100vw - #{$sidebar-w});
    height: calc(100vh - #{$header-h});
  }

  #stats {
    div {
      position: absolute !important;
      top: $header-h + $padding-s !important;
      left: $sidebar-w + $padding-s !important;
      z-index: $header-z - 1 !important;
    }
  }

  a.ViewSource {
    position: absolute;
    bottom: $padding-l;
    left: $sidebar-w + $padding-m;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .LifeCycleApiFeedback {
    background: lighten($app-bg, 10);
    border-radius: $radius-s;
    padding: $padding-m;
    font-size: 0.8em;
    position: absolute;
    top: $header-h + $stats-h + $padding-s * 2;
    left: $sidebar-w + $padding-s;

    li {
      margin-bottom: $padding-m;
    }

    li:last-child {
      margin: 0;
    }
  }
}
