.Page.Home {
  .Content,
  .main {
    padding: 0;
    max-width: 100%;
  }

  .Content.Hero {
    background: $app-bg;
    padding: 0;
  }

  .Content.Features {
    border-bottom: $sidebar-border;

    .Details {
      p {
        height: 80px;
      }
    }
  }
}

.Hero {
  background: black;
  padding: 0 $padding-l;
  width: 100%;
  position: relative;

  .canvas-container {
    height: $hero-canvas-h;
    position: relative;
    width: 100%;
  }

  canvas {
    vertical-align: bottom;
  }

  .Blurb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .Code {
      background: rgba(0, 0, 0, 0.4);
      border: none;
    }

    p {
      line-height: 1.4em;
      margin-bottom: $padding-l;
    }
  }

  video {
    width: 100%;
    height: 75%;
  }

  img {
    width: 100%;
  }

  text-align: center;
}

.AboutNebula {
  .button {
    margin-top: $padding-l;
  }
}

@include phone {
  .Page.Home {
    .Content {
      padding: $padding-letterbox-s;
    }

    .Content.Features {
      .Details {
        p {
          height: auto;
        }

        a {
          display: inline-block;
          margin-top: $padding-l;
        }
      }
    }
  }
  .Hero {
    .Blurb {
      text-align: center;

      h2 {
        font-size: 1.5em;
      }

      p {
        font-size: 1em;
      }
    }
    video {
      display: none;
    }
  }
}

.Guide {
}

@include tablet {
  .Page.Home {
    .Content {
      padding: $padding-letterbox;
    }

    .Content.Features {
      .Details {
        p {
          height: 100px;
        }

        a {
          display: inline;
          margin-top: 0;
        }
      }
    }
  }
  .Hero {
    .Blurb {
      h2 {
        font-size: 2.8em;
        margin-bottom: $padding-xxl * 2;
      }

      p {
        font-size: 1.5em;
      }
    }
    video {
      display: block;
    }
  }
}

@include desktop {
  .Page.Home {
    .Content.Features {
      .Details {
        p {
          height: 80px;
        }
      }
    }
  }
  .Hero {
    .Blurb {
      h2 {
        font-size: 3em;
      }
    }
  }
}
