.Page.Home {
  .Content,
  .main {
    padding: 0;
    max-width: 100%;
  }

  .Content.Guide {
    padding: $padding-letterbox;
    max-width: $content-max-width;
  }

  .Content.Examples {
    padding: $padding-letterbox;
    background: black;
  }
}

.Hero {
  background: black;
  padding: 0 $padding-l;
  width: 100%;
  position: relative;

  .canvas-container {
    height: $hero-canvas-h;
    position: relative;
    width: 100%;
  }

  canvas {
    vertical-align: bottom;
    // opacity: 0.5;
  }

  .Blurb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
      line-height: 1.4em;
      margin-bottom: $padding-l;
    }
  }

  video {
    width: 100%;
    height: 75%;
  }

  img {
    width: 100%;
  }

  text-align: center;
}

.Examples {
  .wrap {
    margin: auto;
    max-width: $content-max-width;
  }
}

@include phone {
  .Hero {
    .Blurb {
      text-align: center;

      h2 {
        font-size: 2.2em;
      }

      p {
        font-size: 1em;
      }
    }
    video {
      display: none;
    }
  }
}

@include tablet {
  .Hero {
    .Blurb {
      h2 {
        font-size: 2.8em;
        margin-bottom: $padding-xxl * 2;
      }

      p {
        font-size: 1.3em;
      }
    }
    video {
      display: block;
    }
  }
}

@include desktop {
  .Hero {
    .Blurb {
      h2 {
        font-size: 3em;
      }
    }
  }
}
