.Page.Privacy {
  .Content {
    p,
    ul {
      margin-bottom: $padding-xl;
    }

    ul {
      list-style: disc;
      margin-left: $padding-l;

      b,
      h4 {
        font-weight: bold;
      }

      h4 {
        margin-bottom: $padding-s;
      }

      p {
        margin-bottom: $padding-m;
      }
    }
  }
}
