.Grid {
  display: grid;
  margin: auto;

  .Item {
    .Media {
      display: block;
      max-width: 100%;
      height: 300px;
      background: $app-accent;
      margin-bottom: $padding-xxl;
    }
    .Details {
      line-height: 1.4em;
    }
  }

  &.About {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 72px 32px;
  }
}

.Guide {
  .Grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 72px 32px;
  }
}

.Examples {
  .Grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px 32px;
  }
}

@include phone {
  .Grid {
    display: block;

    .Item {
      margin-bottom: $padding-xxl;
    }
  }

  .Hero {
    .Grid {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@include tablet {
  .Grid {
    display: grid;
  }

  .Hero {
    .Grid {
      display: grid;
    }
  }
}
